{% extends 'accounts/base.html' %}

{% block content %} 
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-2 mt-3"></div>
        <div class='col-sm-8 mt-5'>
            <h2>Customer Address Details</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Street Address</th>
                        <th scope="col">City</th>
                        <th scope="col">Postal code</th>
                        <th scope="col">Country</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{details.street_address}}</td>
                        <td>{{details.city}}</td>
                        <td>{{details.postal_code}}</td>
                        <td>{{details.country}}</td>
                      </tr>
                    </tbody>
                </table>
                <a class="btn btn-info" href="{% url 'details' %}">Back</a>
        </div>
    </div>
</form>
{% endblock content %}